/AVM_Lib/build/
/TiffReader/dist/
/TiffReader/build/
/AVM_Lib/dist/
/AVM_Server/build/
/AVM_Server/dist/
/AVM_CommandLine/nbproject/private/
/AVM_CommandLine/build/
/AVM_CommandLine/dist/
/AVM_Admin/dist/
/AVM_Admin/build/
/AVM_Client/dist/
/AVM_Client/build/
/AVM_Client_Web/dist/
/AVM_Client_Web/build/
/Sandbox/
/LineCounter/
*.class
oldProjects.rar